.container{
  height: 65vh;
  margin-top: 20px;
  margin-left: 25px;
  margin-right: 25px;
  border-radius: 30px;
  padding-top: 10px;

  background-color: #FFFBF5;

  overflow: scroll;
  overflow-x: hidden;
}

/*=============== MEDIA QUERIES FOR SMARTPHONES ============== */
@media screen and (max-width: 600px){
  .container{
    height: 63vh;
  }
}